<!--   
<div class="container-fluid ps-md-0">
    <img class="limg"
        src="https://t4.ftcdn.net/jpg/04/60/71/01/240_F_460710131_YkD6NsivdyYsHupNvO3Y8MPEwxTAhORh.jpg"
        alt="">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Login through QR Code</h3>
                            <div class="qrcode">
                            <ngx-qrcode
                            [elementType]="elementType" (qrCodeURL)="onCodeChange($event)"
                            [errorCorrectionLevel]="correctionLevel"
                            [value]="value" [width]="220"
                            cssClass="bshadow"></ngx-qrcode>
                        </div>
                        <div routerLink="/login" class="login-container">
                          <label for="email">Login through Email address:</label>
                          <input type="email" id="email" placeholder="Email address" />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  
   -->