<div class="container-fluid">
    <app-products></app-products>
    <h1 style="text-align: center; margin-top: 4%;"><b>Simplifying Payouts for Businesses</b></h1>
    <h4 style="text-align: center;">Make payments fast, flexible, and frictionless for your business. Pay suppliers,
        disburse
        <br> employee salaries, and process customer refunds within minutes.
    </h4>
    <img src="https://thumbs.dreamstime.com/z/smart-phone-computer-line-payment-woman-using-credit-card-mobile-mobile-shopping-concept-48557532.jpg"
        alt="">
    <br><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Get Started</button><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in/assets/web/payouts/auto_pay.svg"
                alt="">
            <h4><b>Automate Payouts</b></h4>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in/assets/web/payouts/bulk.svg" alt="">
            <h4><b>Bulk Transfer</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in/assets/web/payouts/easy_recon.svg"
                alt="">
            <h4><b>Easy Reconciliation</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in/assets/web/payouts/analysis.svg"
                alt="">
            <h4><b>Real-time Analytics</b></h4>
        </div>
    </div>
    <div><br>
        <h1 style="text-align: center;"><b>A Full-featured Bank Transfer Alternative</b></h1>
        <h4 style="text-align: center;">Go beyond simple bank transfers with features designed to boost your business.
            <br>
            Make faster payouts with all popular payment options and get a powerful dashboard to handle all your
            business financials.</h4><br><br>
        <div class="row">
            <div class="card col-6">
                <h2 class="PP"><b>All Modes Supported</b></h2>
                <h4 class="PP">IMPS, NEFT, RTGS, UPI, Wallets, Credit Cards.</h4>
            </div>
            <div class="card col-lg-6">
                <h2 class="PP"><b>Bulk Transfer in One Go</b></h2>
                <h4 class="PP">Use bulk payouts to process thousands of transfers with a single excel file upload.</h4>
            </div>
            <div class="card col-lg-6">
                <h2 class="PP"><b>Track & Reconcile Payments</b></h2>
                <h4 class="PP">Smart financial reporting lets you find and match any transaction.</h4>
            </div>
            <div class="card col-lg-6">
                <h2 class="PP"><b>Get Real-time Insights</b></h2>
                <h4 class="PP">Transactional insights for better cash flow & business decisions.</h4>
            </div>
        </div>
    </div><br><br>

    <div style="background-color: azure;"><br><br>
        <div class=" row">
            <div class="LL col-lg-7 ">
                <h1><b>Pay Right Every Time</b></h1>
                <h3>Never go wrong with real-time bank account verification. </h3>
                <ul>
                    <li>
                        <p>Verify bank account or UPI VPA with ease.</p>
                    </li>
                    <li>
                        <p>Add beneficiaries and make payouts right away.</p>
                    </li>
                    <li>
                        <p>Reduce failed or reversed transfers with bulk account verification.</p>
                    </li>
                </ul>
            </div>
            <div class="LL1  col-lg-5 ">
                <img src="https://www.isv.online/wp-content/uploads/2019/10/isv-how-to-hire-right-every-time-watch-on-demand.png"
                    alt="">
            </div>
        </div><br>
    </div><br>
    <div class="RR"><br><br>
        <mat-card>
            <div class="row W">
                <div class="LL col-lg-7 ">
                    <h1><b>Never Miss a Payment with <br>Scheduled Payouts</b></h1>
                    <h3>Get a hassle-free way to make payments on time. Scheduled <br>Payouts enable you to set up payments in advance. </h3>
                    <ul>
                        <li>
                            <p>Payouts can be setup for all available modes.</p>
                        </li>
                        <li>
                            <p>Create daily/weekly/monthly recurring payments.</p>
                        </li>
                        <li>
                            <p>Schedule or cancel payouts via Dashboard, Excel, or API.</p>
                        </li>
                        <li>
                            <p>Debit is made at the time of actual payout to keep your cash <br>flow healthy.</p>
                        </li>
                    </ul>
                </div>
                <div class="LL1  col-lg-5 ">
                    <img src="https://static.instantpay.in/assets/web/payouts/schedule_pay.svg"
                        alt="">
                </div>
            </div>
        </mat-card>
            <div class="EE">
                <div class="col">
                    <h1><b>Payouts for All Types of Businesses</b></h1>
                    <img class="img" src="https://static.instantpay.in/assets/web/payouts/all_business.svg"
                        alt="">
                </div>
            </div>
        
    </div>
    <!-- <img class="QQ" src="https://static.instantpay.in//assets/accounts/current/cta_card.svg" alt="">
    <div class="text col-lg-7" style="color: white; margin-left: 34%; margin-top: -25%;">
    </div>
        <div class="S">
        <h1><b>Get access to banking, designed for your business</b></h1>
        <button class="btn" mat-raised-button color="primary" routerLink="/signup">Create Account</button><br><br>

    </div> -->
    <br><br><br>
    <app-slider></app-slider><br><br><br>
    <app-footer></app-footer>
</div>