img{
    width: 60%;
    height: 60%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 20%;
}
.btn{
    margin-left: 43%;
    padding: 1.40% 4%;
}
.DD{
    display:flex;
    margin-left: 13%;
    margin-right: 8%; 
}

.card{
    border-radius: 7%;
    text-align: center;
    margin-bottom: 7%;
    margin-left: 3%;
    width: 21.50%;
    background-color: black;
    padding: 2% 2%;
    /* @media (max-width: 100px) {
        width: 100%;
      } */
}
.LL{
    margin-left: 5%;
    margin-top: 4%;
}
.LL1{
    margin-left: -20%;
    height: 130vh;
    width:53vw;
}

.i{
    width: 80%;
     height: 90%;
     margin-bottom: -5%;
     margin-left: -1%; 

}
.im{
    margin-right: 0%;
}
mat-card{
    padding: 2% 2%;
}
.PP{
    color: white;
}
.W{
    margin-bottom: -22%;
}
.EE{
    background-color: aliceblue;
    text-align: center;
    padding: 5%;
}
.img{
    margin-left: -0%;
    width: 100%;
}

