<div class="section" id="contact">
    <div class="cc-contact-information" style="background-color:black;">
      <div class="container">
        <div class="cc-contact">
          <div class="row">
            <div class="col-md-3 mt-md-0 mt-3">
              <div>
                <img src="assets/img/nifi.png" height="70" alt=""
                  loading="lazy" />
              </div><br>
              <!-- Content -->
              <h5 class="text-uppercase" style="font-size:20px;"><b>NIFI Payments</b></h5>
              <p>Here you can use rows and columns to organize your footer content.</p>
            </div>
            <!-- Grid column -->
            <div style="margin-left: 9%;" class="col-md-2 mb-md-0 mb-3">
              <!-- Links -->
              <h3 class="text-uppercase"><b>Products</b></h3>
              <ul class="list-unstyled">
                <li>
                  <h6 routerLink="/account/currentaccount">Accounts</h6>
                </li>
                <li>
                  <h6 routerLink="/payout/simplepayout">Payouts</h6>
                </li>
                <li>
                  <h6 routerLink="/collection/pos">Collections</h6>
                </li>
                <li>
                  <h6 routerLink="/card/expensecard">Cards</h6>
                </li>
                <li>
                  <h6 routerLink="/loan/workingcapital">Loans</h6>
                </li>
                <li>
                  <h6 routerLink="/marketplace/utilitypayment">Marketplace</h6>
                </li>
              </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
              <!-- Links -->
              <h3 class="text-uppercase"><b>Company</b></h3>
              <ul class="list-unstyled">
                <li>
                  <h6 routerLink="/about">About Us</h6>
                </li>
                <li>
                  <h6 routerLink="/#!">Our Blog</h6>
                </li>
                <li>
                  <h6 routerLink="/#!">Careers</h6>
                </li>
                <li>
                  <h6 routerLink="/contact">Contact Us</h6>
                </li>
              </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-3">
              <!-- Links -->
              <h3 class="text-uppercase"><b>Resources</b></h3>
              <ul class="list-unstyled">
                <li>
                  <h6 routerLink="/#!">Financial Calculators</h6>
                </li>
                <li>
                  <h6 routerLink="/#!">Policy Center</h6>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="CC col-lg-3">
              <img src="assets/img/dd.jpeg" alt="Image" />
              <img src="assets/img/cc.jpeg" alt="Image" />
              <img src="assets/img/bb.jpeg" alt="Image" />
           </div>      
          </div>
        </div>
        <div class="container ff">
            <img src="https://static.instantpay.in/assets/web/footer/linkedin.svg" alt="">
            <img style="margin-left: 1%;" src="https://static.instantpay.in/assets/web/footer/facebook.svg" alt="">
            <img style="margin-left: 1%;" src="https://static.instantpay.in/assets/web/footer/twitter.svg" alt="">
            <img style="margin-left: 1%;" src="https://static.instantpay.in/assets/web/footer/youtube.svg" alt="">
        </div>
        <div style="text-align: end;">
          <h6>Made in India with ❤️</h6>
        </div>
      </div> 
      <hr style="border-radius: 100px; background-color: white;">
      <div class="container">
          <p><b> © 2023 Neo Infra Fintech Inclusion Pvt Ltd</b></p>
           <p style="font-weight:10; font-size: small;"> NIFI Payments is not a bank but a technology platform for digital financial services and advisory in
            partnership with RBI licensed Banks. All funds in the
            bank account are insured as per limits under the RBI’s deposit insurance scheme. <br>
            Corporate Identity Number: U67100DL2022PTC403690. <br>
            Never share your password, card number, expiry date, CVV, PIN, OTP or other confidential information
            with anyone even if the person claims to be from NIFI Payments.
      </div>
    </div>
  </div>