<app-products></app-products>
<div class="container-fluid">
    <div class="h">
        <h1><b>One Card for All Your Business Expenses</b></h1><br>
        <img class="im"
            src="https://images.ctfassets.net/8xcltilg687t/4Zc3aJcRkJlEC0XuKW2MWt/7331022fd14043ac6b4dde23a0f13c19/cards.png?w=1087&h=995&q=50"
            alt="">
    </div><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Order Card Now</button><br><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/expense_card/digital_onboard.svg" alt="">
            <h4><b>Digital Onboarding</b></h4>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/expense_card/modern_dash.svg" alt="">
            <h4><b>Modernised Dashboard</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/expense_card/built_in_control.svg" alt="">
            <h4><b>Built-in Controls</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/expense_card/fully_secured.svg" alt="">
            <h4><b>Fully Secured</b></h4>
        </div>
    </div><br><br>
    <div>
        <h2 style="text-align: center;">Crafted for</h2>
        <h1 style="text-align: center;"><b>Startups, SMBs & Enterprises</b></h1>
        <marquee behavior="" direction="rights">
            <div class="row">
                <div class="card col-lg-2 c">
                    <h2><b>Rewards & <br>Recognition</b></h2>
                    <h4>The perfect solution <br>for employee rewards <br>and partner Incentives.</h4>
                </div>
                <div class="card col-lg-2 c">
                    <h2><b>Employee Tax <br>Saving</b></h2>
                    <h4>Save tax with expense <br> cards by replacing food <br> coupons,meal vouchers,<br>travel & fuel
                        cards etc.</h4>
                </div>
                <div class="card col-lg-2 c">
                    <h2><b>Easy <br>Reimbursements</b></h2>
                    <h4>Employee reimbursement <br>are quick & easy,thanks <br>to real time expense <br> tracking.</h4>
                </div>
                <div class="card col-lg-2 c">
                    <h2><b>Petty Cash</b></h2>
                    <h4>Issue petty cash funds <br> on card anytime from <br>your NIFI Payments <br>business account
                    </h4>
                </div>
                <div class="card col-lg-2 c">
                    <h2><b>Team Expenses</b></h2>
                    <h4>Empower your team with <br>easy & secure access to <br> funds anywhere</h4>
                </div>
            </div>
        </marquee>
    </div>
    </div><br><br>
<app-slider></app-slider>
<app-footer></app-footer>