<div class="container-fluid">
    <app-products></app-products>
    
</div><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h1><b>We are NIFI Payments, The complete Business banking platform</b></h1><br><br>
            <h6>We’re delighted to welcome you to NIFI Payments, your preferred platform for banking and beyond. With a
                strong focus on innovation, easily accessible products, and progressive technology, we give you a fast,
                flexible & transparent way to bank.</h6>
        </div>
        <div class="col-lg-5 i1">
            <img style="width: 100%; height: 100%;" src="assets/img/2nsuu8h8.png" alt="">
        </div>

        <div>
            <mat-card>
                <h1><b>Built for businesses of all sizes</b></h1><br>
                <h6>Empowering millions of users, we're on a mission to help businesses of all sizes and types simplify
                    their financial journey with our tech-led business banking solutions.</h6>
            </mat-card>
        </div>
        <div class="img">
            <h1 style="margin-top: 150px;"><b>Culture & Benefits</b></h1>
            <!-- <div>
                <img [src]="imageUrls[currentImageIndex]" alt="Current Image">
              </div> -->

            <div class="row">
                <div class="col-lg-6">
                    <img style="width: 100%; height: 90%;" src="assets/img/image.jpeg" alt="">
                </div>
                <div class="col-lg-6">
                    <img style="width: 100%; height: 90%;" src="assets/img/image1.jpeg" alt="">
                </div>
            </div>
            <div class="row" style="margin-top: 10px;">
                <div class="col-lg-6">
                    <img style="width: 100%; height: 90%;" src="assets/img/image2.jpeg" alt="">
                </div>
                <div class="col-lg-6">
                    <img style="width: 100%; height: 90%;" src="assets/img/image3.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
            <video width="320" height="440" controls>
                <source [src]="videoUrl" type="video/mp4">
            </video>
        </div>
    </div>
    <div>
        <mat-card class="C">
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/health_insurance.svg" alt=""><br>
                    <h5>Health Insurance</h5>
                </div>
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/accidental_insurance.svg" alt=""><br>
                    <h5>Accidental Insurance</h5>
                </div>
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/employee_pf.svg" alt=""><br>
                    <h5>Employee Provident Fund</h5>
                </div>
            </div><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/gratuity_benefits.svg" alt=""><br>
                    <h5>Gratuity Benefits</h5>
                </div>
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/wellness_timeoff.svg" alt=""><br>
                    <h5>Wellness Time-off</h5>
                </div>
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/performance_incentives.svg" alt=""><br>
                    <h5>Performance Incentives</h5>
                </div>
            </div><br><br><br>
            <div class="row">
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/free_cab_rides.svg" alt=""><br>
                    <h5>Free Cab Rides</h5>
                </div>
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/work_socials.svg" alt=""><br>
                    <h5>Work Socials</h5>
                </div>
                <div class="col-lg-4">
                    <img src="https://static.instantpay.in//assets/web/about_us/remote_friendly.svg" alt=""><br>
                    <h5>Remote Work Friendly</h5>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="h">
        <h1><b>Join our growing Team!</b></h1><br>
        <h6>Ready to bring innovation to work and make work life better, productive & flexible?</h6>
        <h6>Come join our mission to make banking easier & efficient for businesses and explore hybrid &
            employee-friendly work opportunities</h6><br>
        <button class="BB" mat-raised-button color="primary" routerLink="">Find a role for you</button>
    </div>
</div>
<app-footer></app-footer>