img{
    width: 80%;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 10%;
}
.btn{
    margin-left: 43%;
    padding: 1.40% 4%;
}
.DD{
    display:flex;
    margin-left: 13%;
    margin-right: 8%; 
}

.card{
    border-radius: 7%;
    text-align: center;
    margin-bottom: 7%;
    margin-left: 3%;
    width: 45.50%;
    background-color: black;
    padding: 2% 2%;
    /* @media (max-width: 100px) {
        width: 100%;
      } */
}
.i{
    width: 80%;
     height: 90%;
     margin-bottom: -5%;
     margin-left: -1%; 
}
.RR{
    background-color: rgb(220, 112, 112); 
}
.im{
    margin-right: 0%;
}
mat-card{
    padding: 2% 2%;
}
.PP{
    color: white;
}
.c{
    width: 22%;
    margin-left: 2.50%;
    color: white;
}
.c1{
   margin-right: 2%;
}
.w{
    color: white;
}
.ds{
    margin-left: 20%;
    column-gap: 10ch;
}
