<div class="container-fluid">
    <app-products></app-products>
    <h1 style="text-align: center; margin-top: 4%;"><b>Redefining Gifting with Brand Vouchers </b></h1>
    <h4 style="text-align: center;">Corporate gifting is convenient, secure, and hassle-free with top brand vouchers
        coupled
        <br> with Instantpay’s innovative technology.
    </h4>
    <img style="width: 55%; height: 55%; margin-left: 20%;"
        src="https://th.bing.com/th/id/OIP.rFEaj-oa0YmbycZq6-Ja6wAAAA?pid=ImgDet&rs=1" alt="">
    <br><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Get Started</button><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/brand_vouchers/filter.svg" alt="">
            <h4><b>200+ Brands</b></h4>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/brand_vouchers/reward.svg" alt="">
            <h4><b>Instant Gratification</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/brand_vouchers/digital.svg" alt="">
            <h4><b>Digital-First</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 25%; height: 25%;" src="https://static.instantpay.in//assets/web/brand_vouchers/bulk.svg"
                alt="">
            <h4><b>Bulk Gifting</b></h4>
        </div>
    </div>
    <div style="background-color: rgb(61, 55, 55);"><br>
        <h1 style="text-align: center; color: white;"><b>Make the Most of Brand Vouchers</b></h1><br><br>
        <div class="row">
            <div class="card col-6">
                <img style="width: 30%; height:30%; margin-left: 40%;"
                    src="https://static.instantpay.in//assets/web/brand_vouchers/digital_issue.svg" alt="">
                <h2 class="PP"><b>Instant Digital Issuance</b></h2>
                <h4 class="PP">To send a gift card, enter the recipient's name and contact information, nothing else!
                </h4>
            </div>
            <div class="card col-lg-6">
                <img style="width: 30%; height:30%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/brand_vouchers/on_off_line.svg" alt="">
                <h2 class="PP"><b>Work Online & Offline </b></h2>
                <h4 class="PP">Can be used exclusively at specified brands' online and offline stores.</h4>
            </div>
        </div>
        <div class="row">
            <div class="card col-6">
                <img style="width: 30%; height:30%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/brand_vouchers/memorable.svg" alt="">
                <h2 class="PP"><b>More Memorable</b></h2>
                <h4 class="PP">Shopping with gift vouchers creates a memorable experience for recipients.</h4>
            </div>
            <div class="card col-lg-6">
                <img style="width: 30%; height:30%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/brand_vouchers/offers.svg" alt="">
                <h2 class="PP"><b>Exciting Partner Offers</b></h2>
                <h4 class="PP">Unlock exclusive discounts and offers from our partnered brands with eligible purchases.
                </h4>
            </div>
        </div>
    </div><br><br>
    <h1 style="text-align: center;"><b>Create Branded Gifting Experiences</b></h1><br>
    <h4 style="text-align: center; ">We make it easy for you to create special gifts for your valued ones with our
        digital-first <br>gifting solution. Designed to modernize business gifting, these brand vouchers work for
        <br>almost all occasions.</h4><br>
    <div class="row">
        <div class="card c col-3" style="background-color: rgb(10, 9, 9);">
            <img style="width: 30%; height:30%; margin-left: 20%"
                src="https://static.instantpay.in//assets/web/brand_vouchers/corporate_reward.svg" alt="">
            <h3 style="text-align: center; color: white;"><b>Corporate Rewards & Recognition Solutions</b></h3>
        </div>
        <div class="card c col-3" style="background-color: rgb(10, 9, 9);">
            <img style="width: 30%; height:30%; margin-left: 20%"
                src="https://static.instantpay.in//assets/web/brand_vouchers/engagement.svg" alt="">
            <h3 style="text-align: center; color: white;"><b>Engage Employees & Channel Partners</b></h3>
        </div>
        <div class="card c col-3" style="background-color: rgb(10, 9, 9);">
            <img style="width: 30%; height:30%; margin-left: 20%"
                src="https://static.instantpay.in//assets/web/brand_vouchers/digital_gift.svg" alt="">
            <h3 style="text-align: center; color: white;"><b>Create Digital Gifting Programs</b></h3>
        </div>
        <div class="card c col-3" style="background-color: rgb(10, 9, 9);">
            <img style="width: 30%; height:30%; margin-left: 20%"
                src="https://static.instantpay.in//assets/web/brand_vouchers/increase_sales.svg" alt="">
            <h3 style="text-align: center; color: white;"><b>Attract New Customers & Increase Sales</b></h3>
        </div>
    </div>
    <br><br><br>
    <app-slider></app-slider><br><br><br>
    <app-footer></app-footer>
</div>