<div class="container-fluid">
  <app-products></app-products>
</div><br>
<div class="i">
    <img src="https://static.instantpay.in/assets/web/contact_us/contact_bg.svg" alt="">
</div>
<div class="section" id="contact">
    <div class="AA">
        <h1><b>We'd love to help you</b></h1>
        <h4><b>Contact Us</b></h4>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <mat-card>
                <img class="im" src="https://logodix.com/logo/1287029.jpg" alt="">
                <h2><b>Sales</b></h2>
                <h6>We're always here to help our partners with onboarding, payments, business-related any questions, support NIFI Payment , and
                    more</h6><br><br>
                <a routerLink="/contact">Contact Sales </a>
            </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img class="im" src="https://th.bing.com/th/id/OIP.hPXq2NTvsM9OCzQODchjRAHaGB?pid=ImgDet&rs=1" alt=""><br>
                <h2><b>Help and Support</b></h2>
                <h6>If you have any questions or need help, we'll find you the right solution as soon as possible.</h6>
                <a routerLink="/contact">Get support</a>
            </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card>
                <img class="im" src="https://www.logolynx.com/images/logolynx/dd/dd962132a2875ab9b1b78754a59157ad.jpeg" alt=""><br>
                <h2><b>Report Fraud</b></h2><br>
                <h6>Report any suspicious activity, fraudulent payments, or any unusual activity immediately.</h6>
                <br>
                <a routerLink="/contact" href="">Report </a>
            </mat-card>
        </div>
    </div>
    <h1><b>Visit Us</b></h1><br>
    <div class="row">
        <div class="col-lg-6 B">
            <h2><b>Noida(UP)</b></h2>
            <h6>B-11, First floor, Sector-2, Noida, Pin code:-201301, Gautam Budh Nagar (UP)</h6>
            <h6>Nearest metro station noida sec-15.</h6>
        </div>
        <div class="col-lg-6 D">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9136.180787486494!2d77.31929648225409!3d28.579069744913095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1698412329048!5m2!1sen!2sin"
                width="550" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="cc-contact-information" style="padding: 5% 5%; background-image: url('assets/img/aa.jpeg');">
        <div class="container">
            <div class="cc-contact">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-0" data-aos="zoom-in">
                            <div class="h4 text-center title">Contact Me</div>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <form name="form" novalidate>
                                     <!-- <form [formGroup]="contactForm" (ngSubmit)="submitForm()"> -->
                                            <div class="p pb-2">
                                                <strong style="margin-left: 70px;">Feel free to contact me </strong>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user-circle"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="name"
                                                            placeholder="Name" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-file-text"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="subject"
                                                            placeholder="Subject" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="email"
                                                            placeholder="E-mail" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-phone"></i>
                                                        </span>
                                                        <input class="form-control" type="text" name="mobileno"
                                                            placeholder="mobile no" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="message"
                                                            placeholder="Your Message" required></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-primary  bt" type="submit">Send massege</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body">
                                        <p class="mt-2">
                                            <strong>Phone</strong>
                                        </p>
                                        <p class="pb-2">+91 955-959-9555</p>

                                        <p class="mb-0">
                                            <strong>Email</strong>
                                        </p>

                                        <p>Support@nifipayments.com</p>

                                        <p class="mb-0">
                                            <strong>Toll Free</strong>
                                        </p>
                                        <p>+91 18002031255</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>