<div class="container-fluid">
    <app-products></app-products>
</div><br>
<div class="container-fluid">
    <div class="row SS">
    <h1 style="text-align: center;"><b>Plan That Suits You</b></h1>
    <div class="col-lg-6">
        <mat-card class="c1">
            <h1><b>Small & Medium Business</b></h1>
            <h6>Unified dashboard to manage all your business banking needs. Access multiple bank accounts, check
                balances, make transfers, accept online payments, and more.</h6><br><br>
            <button mat-raised-button routerLink="/signup"><b>Get Started For free</b></button><br>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="c2">
            <h1><b>Enterprise</b></h1>
            <h6>Banking automation that streamlines your business process. Make bulk payouts, refund customers, and
                verify accounts in a flash using tailor-made APIs.</h6><br><br>
            <button mat-raised-button routerLink="/contact"><b>Get in touch</b></button><br>
        </mat-card>
    </div>
</div>
<mat-card class="c3">
    <div class="row">
        <div class="col-lg-6">
            <h1><b>Built with Security in Mind</b></h1><br><br>
            <ul>
                <h4>
                    <li>PCI DSS, RBI PSS, ISO 27001 audited Infra.</li>
                </h4><br>
                <h6>Enjoy best-in-class security with the greatest degree of compliance and the latest regulatory
                    framework.</h6>
            </ul><br><br>
            <ul>
                <h4>
                    <li>256-bit SSL secured data transmission.</li>
                </h4><br>
                <h6>Transact securely with data encryption using 256-bit SSL, which is one of the most secure
                    encryption methods ensuring privacy, authentication & integrity.</h6>
            </ul><br><br>
            <ul>
                <h4>
                    <li>2FA secured transactions.</li>
                </h4><br>
                <h6>Safe and secure access to your online account with Two-Factor Authentication (PIN, OTP &
                    Biometrics), adding an extra layer of security.</h6>
            </ul><br><br>
            <ul>
                <h4>
                    <li>Privacy and Consent protected.</li>
                </h4><br>
                <h6>In accordance with strict security standards, we protect the confidentiality of data, and do not
                    disclose any sensitive informatio.</h6>
            </ul>
        </div>
        <div class="col-lg-6">
            <img style="height: 100%; width: 100%; margin-top: 17%;" src="https://static.instantpay.in/assets/web/security/security_illus.svg" alt="">
        </div>
    </div>
</mat-card>
<div class="h">
    <h1 style="text-align: center;"><b>Trusted Partners and Started business</b></h1>
</div>
<div class="row">
    <marquee behavior="" direction="left">
        <div class="col-lg-3">

            <img src="https://1.bp.blogspot.com/-bPEI2d-yi6Q/Xv92OHLFhtI/AAAAAAAAISw/c2qvS5zd5D0yrrn0md4YN1Ge0ao7Q8u0QCLcBGAsYHQ/s1600/Bajaj%2BCapital.jpg"
                alt="">
            <img style="height: 50px; margin-left: 100px;"
             src="https://th.bing.com/th?id=OIP.ZFs6DUZUOPPBqATWVPtNegAAAA&w=235&h=95&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="">
            <img style="height: 50px; margin-left: 100px;"
                src="https://th.bing.com/th?id=OIP.fmyyNPr65ppYt80AcSV46AHaC4&w=350&h=135&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" alt="">
            <img style="height: 50px; margin-left: 100px;"
                src="https://th.bing.com/th?id=OIP.lQVq_4tQQ7n8kFJHK3yzgQHaCo&w=350&h=124&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
                alt="">
            <img style="height: 50px; margin-left: 100px;"
                src="https://th.bing.com/th?id=OIP.d6gF4wERyu2CkO_KQBLuAwHaBd&w=350&h=69&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
                alt="">
            <img style="height: 50px; margin-left: 100px;"
                src="https://th.bing.com/th?id=OIP.gTXhSW1n8NQSnlpKoxNNegHaCL&w=350&h=103&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2"
                alt="">
            <img style="height: 50px; margin-left: 100px;"
                src="https://www.mobigyaan.com/wp-content/uploads/2016/11/Airtel-Payments-Bank-logo-600x113.jpg"
                alt="">
            <img style="height: 50px; margin-left: 100px;"
                src="https://th.bing.com/th/id/OIP.sHhoPZLIlT5JCDDvxL86pAHaC9?pid=ImgDet&rs=1"
                alt="">
            <img style="height: 80px; margin-left: 100px;"
                src="https://th.bing.com/th/id/OIP.XFZdLGBi_B5h5SITRo8TqAHaDV?pid=ImgDet&rs=1"
                alt="">
    </div>
    </marquee>
</div>
<br><br>
<app-footer></app-footer>
</div>