<div class="container-fluid">
    <app-products></app-products>
    <h1 style="text-align: center; margin-top: 4%;"><b>Pay without bank details via payout links</b></h1>
    <h4 style="text-align: center;">Make payments when you simply know the beneficiary's phone number or email address. <br>
        NIFI Payment's Payout Links let you collect bank account details and promptly process payments for your vendors or customers.</h4>
    <img src="https://thumbs.dreamstime.com/b/online-e-banking-app-wallet-bank-credit-card-vector-illustration-technology-data-protection-payment-security-232133847.jpg" alt="">
    <br><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Get Started</button><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in/assets/web/payouts/secure.svg" alt="">
            <h5><b>100% Secure</b></h5>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in/assets/web/payouts/multiple.svg" alt="">
            <h5><b>Multiple Payment Modes</b></h5>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in/assets/web/payouts/success.svg" alt="">
            <h5><b>Best Success Rate</b></h5>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in/assets/web/payouts/link_bulk.svg" alt="">
            <h5><b>Bulk Payout Links</b></h5>
        </div>
    </div>
    <div style="background-color: rgb(61, 55, 55);"><br>
        <h1 style="text-align: center; color: white;"><b>Make Payouts a Breeze for Your Growing Business</b></h1><br><br>
        <h4 style="text-align: center; color: white;">Streamline and automate your business payouts—no more manual processing. Simply create and send payout links to users <br>via SMS or email, and process payouts with just a few clicks.</h4>
        <div class="row">
            <div class="card col-3">
                <h2 class="PP"><b>Fast, 24/7 Payouts</b></h2>
                <h4 class="PP">Payouts can be instantly sent to any bank account, UPI ID, card, or wallet at any time.</h4>
            </div>
            <div class="card col-lg-3">
                <h2 class="PP"><b>Bulk Payout Link</b></h2>
               <h4 class="PP">Make hundreds of transfers at once and save time & effort with bulk Payout Links</h4>
            </div>
            <div class="card col-lg-3">
                <h2 class="PP"><b>Higher Transfer Success</b></h2>
                <h4 class="PP">Ensure safe and reliable payouts through automatic retrying of transactions.</h4>
            </div>
            <div class="card col-lg-3">
                <h2 class="PP"><b>Customised Experience</b></h2>
                <h4 class="PP">Incorporate company logo, colors, or style to payout links and create a cohesive brand experience for users.</h4>
            </div>
        </div>
    </div><br><br>
    <div>
        <h1 style="text-align: center;"><b>One Simplified Solution for Multiple Use Cases</b></h1>
        <img src="https://th.bing.com/th/id/OIP.UsKsAcKx2yJVQ9l7YEAaOAAAAA?pid=ImgDet&rs=1" alt="">
    </div>
    <!-- <img class="QQ" src="https://static.instantpay.in//assets/accounts/current/cta_card.svg" alt="">
    <div class="text col-lg-7" style="color: white; margin-left: 34%; margin-top: -25%;">
    </div>
        <div class="S">
        <h1><b>Get access to banking, designed for your business</b></h1>
        <button class="btn" mat-raised-button color="primary" routerLink="/signup">Create Account</button><br><br>

    </div> -->
     <br><br><br>
    <app-slider></app-slider>
    <app-footer></app-footer>
</div>