<div class="container-fluid">
    <app-products></app-products>
    <h1 style="text-align: center; margin-top: 4%;"><b>Current Account to Keep You Moving</b></h1>
    <img src="https://i.pinimg.com/originals/29/5a/d5/295ad5526a6c566a415776b9dede64f9.jpg" alt="">
    <br><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Get Started</button><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in//assets/accounts/current/manage_accounts.svg" alt="">
            <h4><b>Manage Accounts</b></h4>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in//assets/accounts/current/payout_collection.svg" alt="">
            <h4><b>Payouts & Collections</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in//assets/accounts/current/smart_reporting.svg" alt="">
            <h4><b>Smart Reporting</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;"
                src="https://static.instantpay.in//assets/accounts/current/auto_reconcilation.svg" alt="">
            <h4><b>Auto Reconciliation</b></h4>
        </div>
    </div>
    <div style="background-color: aliceblue;"><br>
        <h1 style="text-align: center;"><b>A Smart Approach to Banking</b></h1><br><br>
        <div class="row KK">
            <div class="card col-lg-2">
                <img style="width: 25%; height: 25%;"
                    src="https://static.instantpay.in//assets/accounts/current/zero_balance.svg" alt="">
                <h4><b>Zero Balance Account</b></h4>
            </div>
            <div class="card col-lg-2">
                <img style="width: 25%; height: 25%;"
                    src="https://static.instantpay.in//assets/accounts/current/free_vd.svg" alt="">
                <h4><b>Free Virtual Debit Card</b></h4>
            </div>
            <div class="card col-lg-2">
                <img style="width: 25%; height: 25%;"
                    src="https://static.instantpay.in//assets/accounts/current/no_limit.svg" alt="">
                <h4><b>Transact Without Limits</b></h4>
            </div>
            <div class="card col-lg-2">
                <img style="width: 25%; height: 25%;"
                    src="https://static.instantpay.in//assets/accounts/current/instant_account_open.svg" alt="">
                <h4><b>Instant Account Opening</b></h4>
            </div>
        </div>
    </div><br><br>
    <div>
        <h1 style="text-align: center;"><b>One Place for All Your Accounts </b></h1><br>
        <h3 style="text-align: center; font-style: italic;">Don't juggle multiple corporate banking platforms.
            NIFI Payments empowers you to lin k multiple current accounts from leading
            banks in a unified interface.</h3><br><br>
        <div class="row">
            <div class="col-lg-6">
                <ul>
                    <li>
                        <h2>Stay Connected</h2>
                    </li>
                    <h4>Connect multiple current accounts to NIFI Payments.</h4>
                </ul>
                <ul>
                    <li>
                        <h2>One Interface</h2>
                    </li>
                    <h4>Get a unified view of all your transactions.</h4>
                </ul>
                <ul>
                    <li>
                        <h2>Seamless Banking</h2>
                    </li>
                    <h4>Add funds, check balances, view & download statements.</h4>
                </ul>
                <ul>
                    <li>
                        <h2>Fully Secure</h2>
                    </li>
                    <h4>Your account is safe with our RBI-licensed banking partners</h4>
                </ul>
            </div>
            <div class="col-lg-6">
                <img class="i" src="https://static.instantpay.in//assets/accounts/current/one_place.svg" alt="">
            </div>
        </div><br><br>
    </div>
    <div class="RR"><br>
        <h1 style="text-align: center; color: white;"><b>A Customised Account That Meets Your Need!</b></h1><br><br><br>
        <div class=" row im">
            <div class=" col-lg-4 ">
                <img style="width: 95%; height: 100%;"
                    src="assets/img/air.jpeg" alt="">
            </div>
            <div class=" col-lg-4 ">
                <img style="width: 95%; height: 100%;"
                    src="assets/img/small.jpeg" alt="">
            </div>
            <div class=" col-lg-4 ">
                <img style="width: 95%; height: 100%;"
                    src="assets/img/large.jpeg" alt="">
            </div>
        </div><br><br><br>
    </div>
    <!-- <img class="QQ" src="https://static.instantpay.in//assets/accounts/current/cta_card.svg" alt="">
    <div class="text col-lg-7" style="color: white; margin-left: 34%; margin-top: -25%;">
    </div>
        <div class="S">
        <h1><b>Get access to banking, designed for your business</b></h1>
        <button class="btn" mat-raised-button color="primary" routerLink="/signup">Create Account</button><br><br>

    </div> -->
     <br><br><br>
     <app-slider></app-slider><br><br><br><br><br><br>
    <app-footer></app-footer>
</div>