<div class="container-fluid ps-md-0">
    <img class="limg"
        src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/de6b7931458403.5651c341c8172.png"
        alt="">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h5 class="login-heading mb-4">Welcome to Neo Infra Fintech Inclusion Pvt Ltd.</h5>
                             <p>Securely create your new account!!.......</p>
                            <!-- Sign In Form -->
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-floating mb-3" >
                                    <input type="text" class="form-control" id="floatingInput" 
                                        placeholder="Enter name" formControlName="name" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="inputPcard4">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                        <!-- <div *ngIf="f.name.errors.name">Name must be a valid email address</div> -->
                                    </div>
                                    <label for="floatingInput"> Name</label>
                                </div>

                                <div class="form-floating mb-3" >
                                    <input type="text" class="form-control" id="floatingInput" 
                                        placeholder="Enter pan card" formControlName="pcard" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.pcard.errors }" id="inputPcard4">
                                    <div *ngIf="submitted && f.pcard.errors" class="invalid-feedback">
                                        <div *ngIf="f.pcard.errors.required">Pan card is required</div>
                                        <!-- <div *ngIf="f.name.errors.name">Name must be a valid email address</div> -->
                                    </div>
                                    <label for="floatingInput"> Pan Card</label>
                                </div>

                                <div class="form-floating mb-3" >
                                    <input type="email" class="form-control" id="floatingInput"
                                        placeholder="name@example.com" formControlName="emailId" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" id="inputEmail4">
                                    <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
                                        <div *ngIf="f.emailId.errors.required">Email is required</div>
                                        <div *ngIf="f.emailId.errors.emailId">Email must be a valid email address</div>
                                    </div>
                                    <label for="floatingInput">Email address</label>
                                </div>

                                <div class="form-floating mb-3" >
                                    <input type="number" class="form-control" id="floatingInput" 
                                        placeholder="Enter mobile no" formControlName="mobileno" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }" id="inputEmail4">
                                    <div *ngIf="submitted && f.mobileno.errors" class="invalid-feedback">
                                        <div *ngIf="f.mobileno.errors.required">Mobile no is required</div>
                                        <div *ngIf="f.emailId.errors.emailId">Mobile number must be a valid mobile number</div>
                                    </div>
                                    <label for="floatingInput">Mobile no</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="floatingPassword"
                                        placeholder="Password" formControlName="password" minlength="6"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        id="inputPassword4">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                    <label for="floatingPassword">Password</label>
                                </div><br>
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-primary"
                                        type="submit">SingUp &nbsp;<i class="fa fa-caret-right" style="color:white;"></i></button>
                                    <!-- <div class="text-center">
                                        <br>
                                     
                                            <hr class="A">OR<hr class="B">
                                    </div> -->
                                 
                                </div>
                                <br>
                                <h6 style="text-align: center;">Not a member? <a routerLink="/login">Login</a></h6>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

