<h1 style="text-align: center;"><b>Explore our other Products</b></h1><br><br>
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
       
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card-wapper">
                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in//assets/web/footer/current_account.svg" alt="">
                        <h2><b>Current Account</b></h2>
                        <h5>A digital current account integrated with <br> modern features to make banking seamless</h5>
                        <button mat-raised-button color="primary" routerLink="/account/currentaccount">Know
                            More</button>

                    </div>
                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/payouts.svg" alt="">
                        <h2><b>Single & Bulks Payouts</b></h2>
                        <h5>Simplify business Payments: <br> pay suppliers, process salaries, refund <br> customer, and
                            more</h5>
                        <button mat-raised-button color="primary" routerLink="/payout/bulkpayout">Know More</button>

                    </div>
                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/payout_link.svg" alt="">
                        <h2><b>Payout Links</b></h2>
                        <h5>Make payouts easily and efficiently without <br>the need for bank account details,</h5><br>
                        <button mat-raised-button color="primary" routerLink="/payout/payoutlink">Know More</button>

                    </div >
                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/loans.svg" alt="">
                        <h2><b>Working Capital</b></h2>
                        <h5>Easy access to unsecures business loans and <br>credit lines to fulfil your business goals.
                        </h5>
                        <button mat-raised-button color="primary" routerLink="/loan/workingcapital">Know More</button>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="card-wapper">
                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/collection.svg" alt="">
                        <h2>Collection QR<b></b></h2>
                        <h5>Enhance the customer patment experience <br> with QR codes,enabling secure <br>& contactless
                            payments.</h5>
                        <button mat-raised-button color="primary" routerLink="/collection/collectionqr">Know
                            More</button>

                    </div>

                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/pos.svg" alt="">
                        <h2><b>POS</b></h2>
                        <h5>Accept digital payments while on the go <br>with our easy-to-use pos device.</h5><br>
                        <button mat-raised-button color="primary" routerLink="/collection/pos">Know More</button>

                    </div>

                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/collection_link.svg" alt="">
                        <h2><b>Collection Links</b></h2>
                        <h5>Create payments links and share them via <br>SMS, email, or whatsApp to go get <br>paid in
                            minutes</h5>
                        <button mat-raised-button color="primary" routerLink="/collection/collectionlink">Know
                            More</button>

                    </div>

                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/bills_utility.svg" alt="">
                        <h2><b>Marketplace</b></h2>
                        <h5>One place for all your corporate bill <br>payments-utilities, cretit card,<br>and more</h5>
                        <button mat-raised-button color="primary" routerLink="/marketplace/utilitypayment">Know
                            More</button>

                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="card-wapper">
                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/gift_card.svg" alt="">
                        <h2><b>Gift Card</b></h2>
                        <h5>A simple, secure, and convenient way for <br>gifting employees, vendors, and customers.</h5>
                        <button mat-raised-button color="primary" routerLink="/card/giftcard">Know More</button>
                    </div>

                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/voucher.svg" alt="">
                        <h2><b>Brand Vouchers</b></h2>
                        <h5>A digital-first gifting solution, ideal <br>for employee milestones, channel <br>
                            incentive,festive gifting, etc,</h5>
                        <button mat-raised-button color="primary" routerLink="/card/brandvouchers">Know More</button>

                    </div>

                    <div class="card x" style="width: 18rem;">
                        <img style="width: 15%; height: 15%;"
                            src="https://static.instantpay.in/assets/web/footer/cards.svg" alt="">
                        <h2><b>Expense Card</b></h2>
                        <h5>The easiest way to spend, track and control <br>business expenses in real-time</h5>
                        <button mat-raised-button color="primary" routerLink="/card/expensecard">Know More</button>

                    </div>

                </div>
            </div>
        </div><br><br><br><br>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button> -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>