<div class="container-fluid">
    <app-products></app-products>
    <h1 style="text-align: center; margin-top: 4%;"><b>Accept Payments Anywhere with Collection Links </b></h1>
    <h4 style="text-align: center;">The easiest, fastest, and most flexible way to accept payments from customers. <br>
        Use Instantpay's collection links to receive payments in a matter of seconds.</h4>
    <img src="https://th.bing.com/th/id/OIP.CYsC69KrRqVHfX-tYdBZ2QHaE8?pid=ImgDet&rs=1" alt="">
    <br><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Get Started</button><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in//assets/web/collect/digital.svg"
                alt="">
            <h5><b>Digital Onboarding</b></h5>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in//assets/web/collect/no_code.svg"
                alt="">
            <h5><b>No Code Solution</b></h5>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in//assets/web/collect/link.svg"
                alt="">
            <h5><b>Generate Unlimited Links</b></h5>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 18%; height: 18%;" src="https://static.instantpay.in//assets/web/collect/bulk.svg"
                alt="">
            <h5><b>Multiple Payment Modes</b></h5>
        </div>
    </div>
    <div style="background-color: rgb(61, 55, 55);"><br>
        <h1 style="text-align: center; color: white;"><b>Payment Acceptance Simplified</b></h1><br><br>
        <div class="row">
            <div class="card col-6">
                <img style="width: 20%; height:20%; margin-left: 40%;"
                    src="https://static.instantpay.in//assets/web/collect/multi_pay.svg" alt="">
                <h2 class="PP"><b>Multiple Payment Modes</b></h2>
                <h4 class="PP">All major payment modes are available: UPI, <br>Credit & Debit Cards, Net banking, and
                    Wallets.</h4>
            </div>
            <div class="card col-lg-6">
                <img style="width: 20%; height:20%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/collect/bulk_file.svg" alt="">
                <h2 class="PP"><b>Create Bulk Links </b></h2>
                <h4 class="PP">Easily create and send multiple collection links <br>at once by using a simple CSV file
                    upload.</h4>
            </div>
        </div>
        <div class="row">
            <div class="card col-6">
                <img style="width: 20%; height:20%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/collect/no_app_webb.svg" alt="">
                <h2 class="PP"><b>No Web/App Needed</b></h2>
                <h4 class="PP">No website, app, or integration is required. Our <br>no-code solution is perfect for
                    businesses.</h4>
            </div>
            <div class="card col-lg-6">
                <img style="width: 20%; height:20%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/collect/easy_reconcile.svg" alt="">
                <h2 class="PP"><b>Easy Payment Reconciliation</b></h2>
                <h4 class="PP">Stay on top of your payments with the smart insights <br>and reporting features of the
                    NIFI Payments Dashboard.</h4>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="card col-6" style="background-color: white;">
            <h1><b>Accept Card Payments with mPOS</b></h1>
            <button style="width: 40%; margin-left: 30%;" mat-raised-button color="primary" routerLink="">Explore
                More</button>
            <img style="width: 60%; height:80%; margin-left: 20%"
                src="https://static.instantpay.in/assets/web/collect/cl_pos.svg" alt="">
        </div>
        <div class="card col-lg-6" style="background-color: white;">
            <h1><b>Static and Dynamic QR Codes</b></h1>
            <button style="width: 40%; margin-left: 30%;" mat-raised-button color="primary" routerLink="">Explore
                More</button>
            <img style="width: 60%; height:80%; margin-left: 20%"
                src="https://static.instantpay.in/assets/collect/pg_qr.svg" alt="">
        </div>
    </div>
    <!-- <img class="QQ" src="https://static.instantpay.in//assets/accounts/current/cta_card.svg" alt="">
    <div class="text col-lg-7" style="color: white; margin-left: 34%; margin-top: -25%;">
    </div>
        <div class="S">
        <h1><b>Get access to banking, designed for your business</b></h1>
        <button class="btn" mat-raised-button color="primary" routerLink="/signup">Create Account</button><br><br>

    </div> -->
    <br><br><br>
    <app-slider></app-slider><br><br><br>
    <app-footer></app-footer>
</div>