<div class="container-fluid">
    <app-products></app-products>
    <h1 style="text-align: center; margin-top: 4%;"><b>Goodbye Gifting Woes with Gift Cards </b></h1>
    <h4 style="text-align: center;">Use our uniquely designed gift card solutions, powered by our premier banking
        partners,<br> to digitize and optimize your corporate gifting programs..</h4>
    <img src="https://th.bing.com/th/id/OIP.CYsC69KrRqVHfX-tYdBZ2QHaE8?pid=ImgDet&rs=1" alt="">
    <br><br>
    <button class="btn" mat-raised-button color="primary" routerLink="/signup">Get Started</button><br><br>
    <div class="row DD">
        <div class="col-lg-3 p-3">
            <img style="width: 25%; height: 25%;"
                src="https://static.instantpay.in//assets/web/gift_card/digital_onboard.svg" alt="">
            <h4><b>100% Digital</b></h4>
        </div>
        <div class=" col-sm-3 p-3">
            <img style="width: 25%; height: 25%;" src="https://static.instantpay.in//assets/web/gift_card/preload.svg"
                alt="">
            <h4><b>Preloaded Cards</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 25%; height: 25%;" src="https://static.instantpay.in//assets/web/gift_card/bulk.svg"
                alt="">
            <h4><b>Bulk Gifting</b></h4>
        </div>
        <div class="col-sm-3 p-3">
            <img style="width: 25%; height: 25%;" src="https://static.instantpay.in//assets/web/gift_card/mod_api.svg"
                alt="">
            <h4><b>Modular APIs</b></h4>
        </div>
    </div>
    <div style="background-color: rgb(61, 55, 55);"><br>
        <h1 style="text-align: center; color: white;"><b>Discover Infinite Possibilities</b></h1><br><br>
        <div class="row">
            <div class="card col-6">
                <img style="width: 30%; height:30%; margin-left: 40%;"
                    src="https://static.instantpay.in//assets/web/gift_card/gc_freedom.svg" alt="">
                <h2 class="PP"><b>Freedom</b></h2>
                <h4 class="PP">Receivers can spend the way they want and give themselves a gift of choice.</h4>
            </div>
            <div class="card col-lg-6">
                <img style="width: 30%; height:30%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/gift_card/gc_flexibility.svg" alt="">
                <h2 class="PP"><b>Flexible </b></h2>
                <h4 class="PP">Load cards with the amount of your choice for secure and hassle-free transactions.</h4>
            </div>
        </div>
        <div class="row">
            <div class="card col-6">
                <img style="width: 30%; height:30%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/gift_card/gc_reward.svg" alt="">
                <h2 class="PP"><b>Rewarding</b></h2>
                <h4 class="PP">Users can save money with exciting offers and discounts by using these cards..</h4>
            </div>
            <div class="card col-lg-6">
                <img style="width: 30%; height:30%; margin-left: 40%"
                    src="https://static.instantpay.in//assets/web/gift_card/gc_wide.svg" alt="">
                <h2 class="PP"><b>Wide Acceptability</b></h2>
                <h4 class="PP">Can be used for in-store purchases, online transactions, dining, entertainment, etc.</h4>
            </div>
        </div>
    </div><br><br>
    <div class="row">
        <div class="card c col-12" style="background-color: rgb(222, 220, 220);">
            <h1 style="text-align: center;"><b>Hassle-free, Convenient & Secure Gifting</b></h1>
            <h4 style="text-align: center;"> Our powerful, easy-to-use dashboard eliminates the need for manual gift
                card management. You can issue, view, and manage all your gift cards online. <br>It is even possible to
                block cards if they have been lost or stolen.</h4>
            <button style="width: 40%; margin-left: 30%;" mat-raised-button color="primary" routerLink="">Explore
                More</button>
            <img style="width: 60%; height:80%; margin-left: 20%"
                src="https://i.pinimg.com/originals/8c/a4/66/8ca466968fdf1e7d4b7c3f9ed058a346.jpg" alt="">
        </div>
    </div>
    <div><br><br><br>
        <h1 style="text-align: center;"><b>Craft Comprehensive Reward Programs That Work for You</b></h1><br>
        <h4 style="text-align: center;">Easily build custom reward programs for your business with our modular API
            suite,<br> designed to improve user experience, engagement, and value.</h4><br>
            <img src="https://static.instantpay.in//assets/web/gift_card/gc_sec_4.svg" alt="">
    </div>
    <!-- <img class="QQ" src="https://static.instantpay.in//assets/accounts/current/cta_card.svg" alt="">
    <div class="text col-lg-7" style="color: white; margin-left: 34%; margin-top: -25%;">
    </div>
        <div class="S">
        <h1><b>Get access to banking, designed for your business</b></h1>
        <button class="btn" mat-raised-button color="primary" routerLink="/signup">Create Account</button><br><br>

    </div> -->
    <br><br><br>
    <app-slider></app-slider><br><br><br>
    <app-footer></app-footer>
</div>