
  .row{
    margin-left: 2%;
  
  }
  .border{
    border-left: 2px;
  }
  .h{
    text-align: center;
    margin-top: 6%;
  }
  img{
    width: 60%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .AA{
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 60px;
    padding: 30px 30px;
  }
  mat-card{
    margin-top: 90px;
    padding: 40px 40px;
  }
  .c1{
    margin: 90px 90px;
    width: 91%;
    border-radius: 30px;
    padding: 40px 40px;
  }
  .i{
    width: auto;
    height: 600px;
    position: absolute;
  }
  .i1{
    height: 400px;
    width: 41%;
    @media (max-width: 800px) {
      width: 100%;
     
    }
  }
  .l{
    width: 13%;
     margin-bottom: 5%;
     margin-left: -0%;
     @media (max-width: 800px) {
      width: 30%;
    }
  }

  h2,h3,h5,h6{
    font-size: large;
  }
  